@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';




.card {
    width: 230px;
    height: 375px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 15px;
    background-color: $secondary-color;
}

.card:hover {
    cursor: grab;
}



.button {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    margin-top: 320px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: black;
    cursor: pointer;

}

.button2 {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    margin-top: 270px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: black;
    cursor: pointer;
}