@mixin section {
    height: max(700px, 100vh);

    display: flex;
    justify-content: center
}

@mixin sectionWrapper {
    @media (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(200, 8px);
        width: 70%;
    }

    @media (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(200, 8px);
        width: 70%;
    }

    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(200, 8px);
        width: 70%;

    }
}

@mixin sectionTitle {
    @media (max-width: 600px) {
        grid-column: 1/span 4;
        grid-row: 8/span 22;
        text-align: center;
        font-size: 1.7em;
    }

    @media (min-width: 600px) {
        grid-column: 2/span 6;
        grid-row: 8/span 22;
        text-align: center;
        font-size: 1.7em;
    }

    @media (min-width: 992px) {
        grid-column: 4/span 6;
        grid-row: 5/span 17;
        text-align: center;
        font-size: 2em;
        z-index: 1;

    }
}


@mixin nav-font {
    text-decoration: none;
    font-family: $text-font;
    font-weight: 600;
    user-select: none;
    color: $secondary-color;
}

@mixin side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 999;
    height: 100%;
    inset: 2.69em 0 0 30%;
    background-color: $primary-color;
    opacity: 0.98;
}

@mixin heading {
    font-family: 'Source Code Pro', monospace;
    font-size: 4.8em;
    font-weight: 500;
    color: $primary-color;
}

@mixin mix_input_box {
    padding: 0.3em;
    border-radius: 5px;
    margin: 0;
    width: 250px;
    font-family: $text-font;
}



@mixin mix_black_button {
    height: 3em;
    width: 9.1em;
    border-radius: 5px;
    border-style: none;
    font-family: $text-font;
    font-weight: 500;
    border-color: black;
    background-color: black;
    color: $primary-color;
    cursor: pointer;
}